app = "brandrdxmusic-x46dna"
primary_region = "cdg"
kill_timeout = 300  # ادينا للبوت 5 دقايق كاملين قبل ما يفصل

[experimental]
  auto_rollback = true

[build]
  dockerfile = "Dockerfile"

[[vm]]
  cpu_kind = "shared"
  cpus = 1
  memory_mb = 1024

# إضافة رامات وهمية (Swap) عشان التسطيب ميفصلش
[[swap]]
  size_mb = 512
