aiofiles
aiohttp
httpx
apscheduler

tgcrypto
pyrogram==2.0.106
py-tgcalls==2.2.8
ntgcalls==2.0.6

motor
pymongo
dnspython

yt-dlp>=2023.07.06
youtube-search-python
spotipy
gTTS
pillow
hachoir

python-dotenv
pyyaml
psutil

speedtest-cli
GitPython
heroku3

telethon
SafoneAPI
MukeshAPI
openai
deep-translator
