aiofiles
aiohttp
httpx
apscheduler

tgcrypto
pyrogram>=2.0.0
py-tgcalls>=3.0.0.dev1

motor
pymongo
dnspython

yt-dlp
youtube-search-python
spotipy
gTTS
pillow
hachoir

python-dotenv
pyyaml
psutil

speedtest-cli
GitPython
heroku3

telethon
SafoneAPI
MukeshAPI
openai
