aiofiles
aiohttp
apscheduler
dnspython
gTTS
hachoir
heroku3
motor
pillow
psutil
py-tgcalls
pykeyboard
pymongo
pyrogram
python-dotenv
pyyaml
requests
search-engine-parser
speedtest-cli
spotipy
telethon
tgcrypto
wget
yt-dlp
youtube-search-python
GitPython
